/*-----------------------------------------------------------------------------------*/
/*	All
/*-----------------------------------------------------------------------------------*/
:focus {
    outline: 0 !important
}
* {
	list-style-type: none;
	text-decoration: none;
}
body {
	font-family: 'Open Sans', sans-serif;
}

//___________
//					|
// NAV:   	|
//__________|

.leftside-nav {
	margin-top: 20px;
}
.rightside-nav {
	text-align: right;
	float: left;
	.avatar {
		object-fit: cover;
		width: 55px;
		height: 55px;
	}
}
.rightside-nav button:focus,
.rightside-nav button {
	background-color: #e38c1d;
	color: #fff;
	transition: background-color 0.2s ease;
}
.rightside-nav button:hover {
	color: #fff;
	background-color: #FF6B00;
}
.nav-menu {
	padding-top: 8px;
	background-color: #ffab40;
	height: 80px;
		h3 a {
		float: left;
		text-decoration: none;
		color: #fff;
	}
		p {
		color: #333444;
		text-transform: uppercase;
	}
}
.left-list {
	display: flex;
	padding: 0;
	 li {
		text-transform: uppercase;
		margin-right: 10px;
		font-size: 16px;
		p {
			font-size: 16px;
			color: #7a8391;
		}
		a {
			color: #fff;
			text-decoration: none;
		}
	}
}
.right-list {
	padding: 5px 0 0 0;
	display: inline-flex;
	 li {
		margin-left: 40px;
	}
	 button{
		margin-top:7px;
	}
}
.projects-dropdown {
	padding-top: 3px;
	text-transform: uppercase;
	background: none;
	border: none;
	color: #fff;
}
.user-menu{
	a:nth-child(2){
		position: relative;
		top: 15px;
	}
	.dropdown-menu{
		top:70px;
		right: 0;
		left: inherit;
		li {
		margin-left:0px;
		}
	}
}


.dropdown-menu{
	top:50px;
	background:#ffab40;
	border:none;
	border-radius: 0px;
	box-shadow:none; 
	li{
		margin-right:0px;
		a{
			color:white;
			padding:8px 14px;
			&:hover{
				color:white;
				background:darken(#ffab40,8);
			}
		}
	}
}
	
.btn {
	transition: background-color 0.2s ease;
	padding: 8px 28px;
	background:#ffab40;
	border:none;
	font-size:16px;
	@media screen and (max-width: 992px) {
		padding: 7px 18px;
		font-size:14px;
	}
	&:hover {
		background:darken(#ffab40,15);
	}
	&:focus {
		background:darken(#ffab40,15);
	}
}
.btn-small{
	padding: 7px 18px;
	font-size:14px;
}
.my-caret {
	color: #fff;
	border-top: 8px solid;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
}



//______________
//							|
// profile  		|
//______________|

#profile {
	text-align: center;
	margin: 50px 0px;
	ul {
		padding:0;
		display: inline-flex;
		li {
			padding: 0px 25px;
			border-right: 1px solid #d7d7d7;
			height: 53px;
			&:nth-child(3){
				border-right: none;
			}
		}
		a {
			line-height: 50px;

		}
	}
	.avatar {
		margin: 0 auto;
		float: none;
		width: 100px;
		height: 100px;
		img {
			width: 100px;
			height: 100px;
		}
	}
	.btn {
		color: #fff;
		padding:8px 20px;
		font-size: 14px;
	}
}

//______________
//							|
// categories  	|
//______________|
                         
#categories {
  height: 100px;
  .categories {
	  text-align: right;
	  margin-top: 32px;
	}
	.categories-dropdown {
  background-color: transparent;
  border: 1px solid #a1a1a1;
  border-radius:  3px;
  padding: 7px 17px;
  color:#000;
	  span {
	          margin-left: 15px;
	          color: rgb(74, 74, 74);
	  }
	}
	ul {
		a {
		  color: #000;
		  text-decoration: none;
		  &:hover{
        color: #40c0f0;
			}
		}
		li p {
		  margin: 10px 0;
		  color: #fff;
		}
	}
	.categories .dropdown {
	   float: left;
	}
}  

//___________
//					|
// Lion:   	|
//__________|

#lion {
	h4 a {
	color: #b2b2b2;
	transition: color 0.2s;
		&:hover {
			color: #FFAB40;
		}
	}
	.caption {
	h4 {
		margin: 20px 20px;
		font-size: 20px;
		color: #222222;
	}
	a {
		text-decoration: none;
		color: #000;
	}
	p {
	margin: 40px 20px;
	font-size: 16px;
	color: #000;
		a {
			font-weight: bold;
				&:hover {
					transition: all 0.2s;
					color: #FFAB40;
				}
			}
		}
	}
}
.item .thumbnail   {
	border: 1px solid #e9e9e9;
	border-radius: 0;
	padding: 0;
	.caption {
		padding: 0;
	}
}
.avatar{
	margin-right: 10px;
	float: left;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.pic {
	 background-image: url('../images/1st_avatar.jpg')
}
.info {
	margin: 30px 30px 30px 0px;
	color: #b2b2b2;
}
.list-group {
	display: inline-flex;
	text-align: center;
	margin-left: 20px;
 	li:first-child{
    margin-right: 60px;             
  }
	li {
		margin-right: 15px;
		font-size: 18px;
	}
	p{
		color: rgb(51,51,51);
		font-size: 18px;
		font-family: "Montserrat";
		line-height: 1.3em;
	}
}
.img-box {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 265px;
}
.first_box{
	background-image: url('../images/1st_big_sample.png');
}
.second_box{
	background-image: url('../images/2nd_big_sample.png');
}
.third_box {
	background-image: url('../images/3rd_big_sample.png');
}
// #(480-360)
/// footer

footer {
 margin-top: 30px;
 border-top: 1px solid #e6e6e6;
 .eduongo-footer {
 	line-height: 210px;
 	h3{
 	margin-top: 82px;
 	font-size: 23.63px;
 	}
 }
 .row {
 	margin: 20px 0px;
 }
 h3{
 	font-size: 19px;
 	font-family: 'Asap', sans-serif;
 	color: #ffab40;
 }
 h4{
 	display:inline;
 	font-size: 16px;
 	color: #898989;
 }
 a{
 	color: #898989!important;
 	&:hover {
 	text-decoration: none;
 	}
 	&:active {
 	text-decoration: none;
 	}
 	&:focus {
 	text-decoration: none;
 	}
 }
 ul{
 	padding: 0px;
 	list-style: none;
 	font-size: 17.29px;
 	line-height: 35px;
 }
 li{
 	list-style: none;
 	font-size: 17.29px;
 	a:hover {
 	transition: all 0.2s ;
 	color: #565656!important;
 	}
 }
}

@media screen and (max-width: 992px) {
  .eduongo-footer{
  line-height: 20px!important;
  text-align: center;
  }
  .clear {
 	clear: both;
 }
 .footer-responsive{
 	text-align: center;
 }
}




// Single Project Page
#project-page section{
	margin-bottom:60px;
}
#project-main {
	margin-top:70px;
	background:#f6f6f6;
	font-size:18px;

	> *{
		height:100%;
	}

	.flash-column{
		padding:0px;
		object{
			vertical-align:top;
			width:100%;
			height:100%;
		}
	}
	.details-column{
		padding-bottom:140px;
		padding-left:40px;
		padding-right:40px;
		padding-top:20px;
		i.fa{
			font-size:26px;
			position:relative;
			top:2px;
			margin-right:5px;
			&.fa-heart-o{
				color:#ff5252;
			}
		}
		a{
			color:inherit;
		}
		h3{
			line-height: 1.5em;
		}
		.details-info a{
			margin-left:50px;
		}
		.project-author{
			line-height: 41px;
			vertical-align: middle;
			a{
				color:inherit;
				text-decoration: underline;
			}
		}
		.project-main-footer{
			position: absolute;
			bottom: 40px;
			left: 40px;
			right: 40px;
		}
	}
}	

#project-description p{
	margin:0px 40px;
}	
#project-description, #project-comments {
	h2, h3{
		color:#707070;
		margin-bottom:30px;
	}
}

p{
	color:#959595;
	font-size:14px;
	line-height: 1.8em;

	&.big-p{
		color:#707070;
		font-size:16px;
		line-height:2.1em;
	}
}

a.icon-link{
	color:black;
	margin-right:20px;
	strong{
		text-transform: uppercase;
		font-size:12px;
		font-weight: bold;
	}
	i{
		margin-right:2px;
		font-size:20px;
		color:#d6d6d6;
		position:relative;
		top:2px;
	}
}

#project-comments{

	.comment-count{
		background:#ffab40;
		border-radius: 50%;
		display:inline-block;
		width:28px;
		height:28px;
		line-height:27px;
		text-align: center;
		vertical-align: middle;
		font-size:14px;	
		color:white;
		margin-left:20px;
		font-style: normal;
	}

	.comments{

		.media{
			border-bottom:1px solid #e5e5e5;
			padding:25px 0;

			.media-object{
				margin:0 30px 0 20px;
			}

			.media-body{
				
				padding-right: 40px;

				.media-heading{
					color:black;
					font-size:14px;
					font-weight: bold;
					margin-bottom:10px;

					small{
						margin-left:15px;
						color:#a3a3a3;
						font-size:12px;
					}
				}

				.media-footer{
					margin-top:30px;
					margin-bottom:10px;
				}

				.likes-link{
					i{
						margin-left:5px;
						color:#ff5252;
					}
				}
			}

			&.second-lvl{
				background:url("../images/comment-arrow.png") no-repeat 45px 25px;
				padding-left:90px;

			}
		}

		.leave-comment{
			background: #f2f2f2;
			.media{
				padding:32px 0;
				textarea{
					box-shadow:none;
					border:none;
					height:100px;
					&:focus, &:active{
						border:none;
					}
				}
				input[type=submit]{
					margin-top: 20px;
					text-transform: uppercase;
					font-size:12px;
				}
			}
		}
	}
}